body {
  background: #fff;
  line-height: 1.2em;
  margin: 0;
  background-color: #FFFFFF;
  font-family: Verdana;
  font-size: 10pt; }

pre {
  width: 640px;
  overflow: auto; }

.binary_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .binary_list ul li {
    padding: 10px;
    padding-left: 10px; }
  .binary_list ul div {
    hover-background-color: #ccb;
    hover-width: 80px; }
  .binary_list ul div.title {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-right: 11px;
    width: 80px;
    display: inline; }
  .binary_list ul div.desc {
    padding-left: 10px;
    display: inline; }
