* {
  margin: 0;
  padding: 0; }

body {
  background: #fff; }

img {
  border: 0; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

hr, .hide {
  display: none; }

.spacer {
  width: 100px;
  clear: both; }
