img {
  border: 0; }

.clear {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

hr, .hide {
  display: none; }

.spacer {
  width: 100px;
  clear: both; }

.note {
  color: #24A;
  display: block; }
