%h2 Chef Itself

%p 
  From the Chef website:
  %blockquote
    Chef is a systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.

Chef Links:
%ul
  %li 
    Chef homepage:
    =link "http://wiki.opscode.com/display/chef/Home", "http://wiki.opscode.com/display/chef/Home"
  %li 
    Github repo:
    =link "http://github.com/opscode/chef/tree/master", "http://github.com/opscode/chef/tree/master"

%h2 
  Chef and PoolParty

%p
  Lets start off with a basic example:

  ~file_to_code("snippets/basic_chef.rb")

%p
  %tt include_recipes
  specifies a glob of 
  =link "cookbooks", "language.html#cookbook"
  that will be placed into your
  =link "suitcase", "family_jewels.html#suitcase"
  at time of deployment. These cookbooks are then made 
  %em available
  to your recipes

%p
  %tt recipe
  specifes a particular 
  =link "recipe", "language.html#recipe"
  that you want to use when 
  =link "configuring", "language.html#configure"
  your
  =link "instances.", "language.html#instance"
  Typically you specify only
  %strong one
  recipe in your 
  %tt clouds.rb
  and this recipe calls as many recipes as needed.

