%p 
  From the Chef website:
  %blockquote
    Chef is a systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.

Chef Links:
%ul
  %li 
    Chef homepage:
    =link "http://wiki.opscode.com/display/chef/Home", "http://wiki.opscode.com/display/chef/Home"
  %li 
    Github repo:
    =link "http://github.com/opscode/chef/tree/master", "http://github.com/opscode/chef/tree/master"
