%h2 CloudSpeak
%p
  The language you use to talk with your cloud.

%h2 Cloud
%p
  All of the cloud binaries have the following switches available
  :syntaxhighlighter
    -n [name of the cloud]
    -c [path/to/clouds.rb]
    -h
.binary_list
  %ul
    ~binary_entry "List", "List the current running and pending instances for the cloud"
    ~binary_entry "Start", "Start the cloud"
    ~binary_entry "Ssh", "Ssh into the cloud (specify the node with -i [defaults to the master 0])"
    ~binary_entry "Terminate", "Terminate the cloud"
    ~binary_entry "Expand", "Expands the cloud if it can expand"
    ~binary_entry "Contract", "Contract the cloud if it can contract"
    ~binary_entry "Configure", "Configure the cloud"
    ~binary_entry "Console", "Give an irb console with the clouds.rb loaded"
    ~binary_entry "Reboot", "Restart each node in the cloud (one-by-one) to refresh the user-data and the nodes"
    ~binary_entry "Show", "Describe the cloud setup"