%h2 PoolParty Family of Gems

%h3 
  %a{:name => "butterfly"}
  %tt butterfly
=link "http://github.com/auser/butterfly/tree/master", "http://github.com/auser/butterfly/tree/master"

%p
  An HTTP mini server to query against modular adaptors
%p 
  butterfly is used in PoolParty for inter-node communication 

%h3
  %a{:name => "suitcase"}
  %tt suitcase
=link "http://github.com/auser/suitcase/tree/master", "http://github.com/auser/suitcase/tree/master"

%p
  Easy-peasy transfer of bulk files with the Suitcase!
%p
  Suitcase takes care of the ugly work for you when dealing with lots of dependencies and peculiarities with transferring dependencies.

%h3
  %a{:name => "dslify"}
  %tt dslify
=link "http://github.com/auser/dslify/tree/master", "http://github.com/auser/dslify/tree/master"

%p
  Easily add DSL accessors to any class without bothering to mess with the gory details of their implementation

%h3
  %a{:name => "parenting"}
  %tt parenting
=link "http://github.com/auser/parenting/tree/master", "http://github.com/auser/parenting/tree/master"

%p
  Being a responsible parent is hard. This lil gem makes it easy!

