%h2 Documentation
%p
  The rdoc can be found
  %a{:href => "http://poolparty.rubyforge.org/rdoc/"} http://poolparty.rubyforge.org/rdoc/
  
%p
  The wiki contains supplimental information at: 
  %a{:href=> "http://wiki.github.com/auser/poolparty"} http://wiki.github.com/auser/poolparty

%a{:name => "learning_track"}
%h2 Learning PoolParty
%p
  Just getting started with PoolParty? The following pages are designed to be the first few articles you read when just starting out using PoolParty (PP)
  %ul.learning-track

    %li 
      =link "PoolParty terminology:", "language.html"
      Understanding the language of PoolParty is an important step in being able to deploy clouds. Checkout this page to learn about a few common terms used in PP.
    %li
      =link "PoolParty Overview", "overview.html" 
      The purpose, theory, and architecture of PoolParty  

    %li
      =link "Understanding the bootstrap and provisioning process:", "provisioning_process.html"
      What happens when I type 
      %tt cloud-start
      ? What is the difference between
      %tt cloud-bootstrap
      ,
      %tt cloud-provision
      , and
      %tt cloud-configure
      ? PP translates these simple commands into a large number of commands that are executed on your nodes. Read this to learn about the bootstrap and provisioning process.

    %li
      =link "Understanding Resources:", "docs/resources/index.html"
      Resources are the meat and most interesting part of any deployment. This page will help you understand what resources are and how to use them.

    %li 
      =link "What is Chef?:", "docs/chef.html"
      Chef is PP's default 
      =link "dependency resolver.", "language.html#dependency%20resolver"
      Your 
      %tt clouds.rb
      is translated by PP into Chef 
      =link "recipes.",  "language.html#recipe"
      Chef then uses those recipes to 
      =link "provision", "language.html#provision"
      your 
      =link "instances.", "language.html#instance"

    %li
      =link "Using the <tt>cloud</tt> and <tt>pool</tt> binaries:", "docs/cloud_speak.html"
      PP installs a number of intuitive binary commands that allow you to 'speak' to your cloud. This page goes over some of the things you can do with those binaries.

    %li
      =link "The PoolParty family of gems:", "docs/family_jewels.html"
      %tt suitcase, butterfly, parenting, dslify;
      What are all these gems and what do they do? Read on to find out.

%h2 
  PoolParty and Amazon's EC2
%p
  %ul.learning-track
    %li 
      =link "EC2 Setup:", "amazon_ec2_setup.html"
      Step-by-step instructions on how to setup Amazon EC2 
    %li 
      =link "Understanding Amazon EC2:", "amazon.html"
      New to Amazon EC2? Check out this page to learn a broad overview and some common terminology.


%h2 
  Other Documents
%p
  %ul.learning-track
    %li
      =link "Why use PoolParty?", "why.html"
    %li
      =link "Core Team", "who.html"

%h2
  Thanks
%p
  Special thanks to
  %ul
    %li 
      AJ Christensen
      %a{:href => "mailto:aj@junglist.gen.nz"} aj [at] junglist.gen.nz
    %li Blake Mizerany
    %li Ron "deadprogrammer" Evans
    %li AT&T Interactive R&D
    %li 
      The 
      %a{:href => "http://citrusbyte.com"} CitrusByte 
      team
    