%h2 Documentation
%p
  %b
    The rdocs can be found
    =link "http://rdoc.info/projects/auser/poolparty", "http://rdoc.info/projects/auser/poolparty"
  
%p
  The wiki contains supplimental information at: 
  %a{:href=> "http://wiki.github.com/auser/poolparty"} http://wiki.github.com/auser/poolparty

%a{:name => "learning_track"}
%h2 Getting Started Guide
%p
  Just getting started with PoolParty? The following pages are designed to be the first few articles you read when just starting out using PoolParty (PP)
  %ul.learning-track

    %li 
      =link "PoolParty terminology:", "language.html"
      Understanding the language of PoolParty is an important step in being able to deploy clouds. Checkout this page to learn about a few common terms used in PP.
    -# %li
      -# =link "PoolParty Overview", "overview.html" 
      -# The purpose, theory, and architecture of PoolParty  

    %li 
      =link "What is Chef?:", "docs/chef.html"
      Your 
      %tt clouds.rb
      is translated by PP into Chef 

    %li
      =link "Using the <tt>cloud</tt> and <tt>pool</tt> binaries:", "docs/cloud_speak.html"
      PP installs a number of intuitive binary commands that allow you to 'speak' to your cloud. This page goes over some of the things you can do with those binaries.

    %li
      =link "The PoolParty family of gems:", "docs/family_jewels.html"
      %tt suitcase, butterfly, parenting, dslify;
      What are all these gems and what do they do? Read on to find out.

%h2 
  PoolParty and Amazon's EC2
%p
  %ul.learning-track
    %li 
      =link "EC2 Setup:", "amazon_ec2_setup.html"
      Step-by-step instructions on how to setup Amazon EC2 
    %li 
      =link "Understanding Amazon EC2:", "amazon.html"
      New to Amazon EC2? Check out this page to learn a broad overview and some common terminology.

%h2 
  Other Documents
%p
  %ul.learning-track
    %li
      =link "Sitemap", "sitemap.html"

    -# %li
      -# =link "Why use PoolParty?", "why.html"
    -# %li
      -# =link "Core Team", "who.html"
