.small.right
  =link "<< Back to resources", "docs/resources"
%h3 Deploy Directory

The deploy directory will copy the source directory from the developer machine (i.e. your laptop) to /tmp/poolparty, and then rsync it to the specified target directory on the cloud nodes.

%h3 Usage

~code_to_syntax("has_deploy_directory(has_deploy_directory 'bob', 
                     :from => "~/path/to/my/site", 
                     :to => "/mnt",
                     :owner => 'www-data' 

%p
  This will place the contents of ~/path/to/my/site from your machine to /mnt/bob on the cloud instances