.small.right
  =link "<< Back to resources", "docs/resources"
%h3 Package

The package resources defines a package that must be present on all of the instances

%h3 Usage

~code_to_syntax("has_package(:name => '...') do\n\t# More options. \n\t# This block is optional\nend")

%h3 Options
%dd
  ~option_entry("name", "The package name. The default provider for your OS will be picked by the <acronym title='The dependency resolver is the describer for the cloud. The default one for PoolParty is puppet'>dependency resolver</acronym>")

%h3 Examples
~code_to_syntax("has_package(:name => 'apache2')")