%h2 Community

%h4 Users
%ul
  %li= link "Google Groups", "http://groups.google.com/group/poolpartyrb/"

%h4 Developers
%ul
  %li= link "Lighthouse bug tracker", "http://poolparty.lighthouseapp.com/"
  %li
    = link "#poolpartyrb", 'irc://irc.freenode.net/poolpartyrb'
    on irc.freenode.net