%h2 Community

=tip_box do
  The IRC channel 
  %tt #poolpartyrb
  is active and friendly. If you are able to use IRC, come on in! 
  =link "Launch IRC in your browser", "http://widget.mibbit.com/?settings=21f1cdbd39aa070f84ce9bdb0f7bd3d6&server=irc.freenode.net&channel=%23poolpartyrb&noServerNotices=true&autoConnect=true", {:target => "new"}

.callout
  New to IRC? No problem. Click to 
  =link "launch #poolpartyrb IRC channel in your browser!", "http://widget.mibbit.com/?settings=21f1cdbd39aa070f84ce9bdb0f7bd3d6&server=irc.freenode.net&channel=%23poolpartyrb&noServerNotices=true&autoConnect=true", {:target => "new"}

%ul
  %li= link "Google Groups", "http://groups.google.com/group/poolpartyrb/"
  %li
    = link "#poolpartyrb", 'irc://irc.freenode.net/poolpartyrb'
    on irc.freenode.net

  -# %li= link "Lighthouse bug tracker", "http://poolpartyrb.lighthouseapp.com/projects/18621-poolparty/overview"	
  %li= link "GitHub issue tracker", "http://github.com/auser/poolparty/issues"
  %li= link "Archived irc discussions", "http://irclogger.com/poolpartyrb/"

%h2
  Thanks
%p
  Special thanks to
  %ul
    %li 
      AJ Christensen
      %a{:href => "mailto:aj@junglist.gen.nz"} aj [at] junglist.gen.nz
    %li Blake Mizerany
    %li Ron "deadprogrammer" Evans
    %li AT&T Interactive R&D
    %li 
      The 
      %a{:href => "http://citrusbyte.com"} CitrusByte 
      team
    
