%h2 Community

=tip_box do
  The IRC channel 
  %tt #poolparty 
  is active and friendly. If you are able to use IRC, come on in! 
  =link "Launch IRC in your browser", "http://widget.mibbit.com/?settings=b5a91d807861e012ebea4a56f391f35c&server=simmons.freenode.net&chi;annel=%23poolpartyrb", {:target => "new"}

.callout
  New to IRC? No problem. Click to 
  =link "launch #poolpartyrb IRC channel in your browser!", "http://widget.mibbit.com/?settings=b5a91d807861e012ebea4a56f391f35c&server=simmons.freenode.net&chi;annel=%23poolpartyrb", {:target => "new"}

%ul
  %li= link "Google Groups", "http://groups.google.com/group/poolpartyrb/"
  %li
    = link "#poolpartyrb", 'irc://irc.freenode.net/poolpartyrb'
    on irc.freenode.net

  %li= link "Lighthouse bug tracker", "http://poolpartyrb.lighthouseapp.com/projects/18621-poolparty/overview"	
  %li= link "Archived irc discussions", "http://irclogger.com/poolpartyrb/"
