%h2 Documentation
%p
  The rdoc can be found
  %a{:href => "http://poolparty.rubyforge.org/rdoc/"} http://poolparty.rubyforge.org/rdoc/
  
%p
  The wiki contains supplimental information at: 
  %a{:href=> "http://wiki.github.com/auser/poolparty"} http://wiki.github.com/auser/poolparty

%a{:name => "learning_track"}
%h2 Learning track
%p
  Just getting started with PoolParty? The following pages are designed to be the first few articles you read when just starting out using PoolParty (PP)
  %ul.learning-track
    %li 
      =link "PoolParty terminology:", "language.html"
      Understanding the language of PoolParty is an important step in being able to deploy clouds. Checkout this page to learn about a few common terms used in PP.
    %li
      =link "Understanding Resources", "docs/resources.html"
      Resources are the meat and most interesting part of any deployment. This page will help you understand what resources are and how to use them.

    %li
      =link "Using the <tt>cloud</tt> and <tt>pool</tt> binaries", "docs/cloud_speak"
      PP installs a number of intuitive binary commands that allow you to 'speak' to your cloud. This page goes over some of the things you can do with those binaries.



























%h3
  Thanks
%p
  Special thanks to
  %ul
    %li 
      AJ Christensen
      %a{:href => "mailto:aj@junglist.gen.nz"} aj [at] junglist.gen.nz
    %li Blake Mizerany
    %li Ron "deadprogrammer" Evans
    %li AT&T Interactive R&D
    %li 
      The 
      %a{:href => "http://citrusbyte.com"} CitrusByte 
      team
    