%h2 Documentation

%p
  The official documentation can be found
  %a{:href => "http://poolparty.rubyforge.org/rdoc/"} http://poolparty.rubyforge.org/rdoc/

%h3 
  Thanks
%p
  Special thanks to
  %ul
    %li AJ Christensen aj [at] junglist.gen.nz
    %li Blake Mizerany
    %li Ron "deadprogrammer" Evans
    %li The CitrusByte team
    