%h2 Documentation
%p
  The rdoc can be found
  %a{:href => "http://poolparty.rubyforge.org/rdoc/"} http://poolparty.rubyforge.org/rdoc/
  
%p
  The wiki contains supplimental information at: 
  %a{:href=> "http://wiki.github.com/auser/poolparty"} http://wiki.github.com/auser/poolparty

%h2 References
%p
  %ul
    %li=link "Resources", "docs/resources.html"
    %li=link "Cloud Speak", "docs/cloud_speak"










ooooo
%h3
  Thanks
%p
  Special thanks to
  %ul
    %li 
      AJ Christensen
      %a{:href => "mailto:aj@junglist.gen.nz"} aj [at] junglist.gen.nz
    %li Blake Mizerany
    %li Ron "deadprogrammer" Evans
    %li AT&T Interactive R&D
    %li 
      The 
      %a{:href => "http://citrusbyte.com"} CitrusByte 
      team
    