%h2 Examples

/ %p
/   Example:
/   ~file_to_code("basic.rb")

%p
  :syntaxhighlighter
    pool "my_twitter" do  
      cloud "app" do
        using :ec2
        instances 1..4
        image_id "ami-ccf615a5" #alestic jaunty
        availability_zones ['us-east-1c']
        security_group do
          %w(22 80).each {|port|  authorize :from_port => port, :to_port => port}
        end
        autoscale
      end
      
      cloud "database" do
        using :ec2
        instances 1..4
        image_id "ami-ccf615a5" #alestic jaunty
        availability_zones ['us-east-1a']
        security_group do
          %w(22 80).each {|port|  authorize :from_port => port, :to_port => port}
        end
      end
      
    end