%h2 Examples
%p 
  We've created a git repo containing a number of working and tested examples:
  =link "http://github.com/auser/poolparty-examples/tree/master", "http://github.com/auser/poolparty-examples/tree/master"

%p
  Example:
  %script{:src=>"http://gist.github.com/69121.js"}
  -# ~file_to_code("basic_apache.rb")