#intro-wrapper
  .intro-left
    %p.headline
      Cloud management. 
      %span Simplified.
    %p.intro
      PoolParty is a 
      %span.emphasis cloud management system. 
      PoolParty makes it easy 
      to manage powerful and 
      %span.emphasis complex deployments 
      on 
      %span.emphasis cloud computing
      services such as Amazon EC2.

  .intro-right
    =img "syntax_sample_2.png"

.features
  %h2 Features:

  %ul
    %li built-in scaling, self-healing, monitoring, and load-balancing
    %li support for VMware, for testing clouds
    %li 
      dependency resolution is based on 
      %a{:href => "docs/chef.html"} Chef 
    %li clear and extensible configuration 

%h1 Getting Started
%h2 0. Pre-flight check
%p.step 
  Setup 
  =link "Amazon EC2", "amazon_ec2_setup.html" 
  or 
  =link "VMware (Fusion)", "vmware_setup.html"

%h2 1. Install PoolParty gem
=tip_box do
  Interested in developing PoolParty? Checkout 
  %a{:href => "http://wiki.github.com/auser/poolparty/installing"} this page 
  for instructions on development installation
%p.step 
  ~code_to_syntax("gem install --source http://gems.github.com auser-poolparty")

%h2 
  2. Create 
  %tt clouds.rb

%p.step 
  The quickest way to be up and running is to clone our example project.
  ~code_to_syntax("git clone git://github.com/auser/poolparty-examples.git ~/Desktop/poolparty-examples")

%h2
  3. Start your cloud!
%p.step
  ~code_to_syntax("cd ~/Desktop/poolparty-examples/simple cloud start -d")

%h2
  What next?
%p
  Check out our 
  =link "getting-started guide", "docs.html#learning_track"
