#intro-wrapper
  .intro-left
    %p.headline
      Cloud management. 
      %span Simplified.
    %p.intro
      PoolParty is a declarative
      %span.emphasis cloud infrastructure.
      PoolParty provides an executable
      description of a
      %span.emphasis cloud computing
      infrastructure in a single file.

  .intro-right
    =img "syntax_sample_3.png"

.features
  %h2 Features:

  %ul
    %li Git-style binaries
    %li support for ec2, load-balancers, autoscalers, security groups
    %li 
      dependency resolution support built-in for
      %a{:href => "docs/chef.html"} Chef 
    %li clear and extensible configuration

%h1 Getting Started
%h2 0. Pre-flight check
%p.step 
  Setup 
  =link "Amazon EC2", "amazon_ec2_setup.html" 

%h2 1. Install PoolParty gem
=tip_box do
  Interested in developing PoolParty? Checkout 
  %a{:href => "http://wiki.github.com/auser/poolparty/installing"} this page 
  for instructions on development installation
%p.step 
  :syntaxhighlighter
    #!highlighting syntax=shell-unix-generic
      gem install --source http://gems.github.com auser-poolparty

%h2 
  2. Write your clouds.rb

%p.step 
  :syntaxhighlighter
    pool "myapp" do
      cloud "app" do
        using :ec2
        instances 1..1
        security_group do
          authorize :from_port => 22, :to_port => 22
        end
      end
    end
%h2
  3. View your cloud
%p.step
  :syntaxhighlighter
    #!highlighting syntax=shell-unix-generic
      cloud show

%h2
  4. Start your cloud!
%p.step
  :syntaxhighlighter
    #!highlighting syntax=shell-unix-generic
      cloud start

%h2
  What next?
%p
  Check out our 
  =link "getting-started guide", "docs/index.html#learning_track"
