%h2 Introduction

%p 
  If you're new to cloud computing the myriad of terms can be intimidating.
  The goal of this page is to briefly explain many of these terms to ease entry
  into the cloud computing space.

=define_term "remoter base" do
  a remoter base is a

=define_term "instance" do
  an 
  %em instance
  or 
  %em node
  is a logical self-contained machine. Each instance has its own copy of the operating system and its own memory space.
