%h2 Introduction

%p 
  If you're new to cloud computing the myriad of terms can be intimidating.
  The goal of this page is to briefly explain many of these terms to ease entry
  into the cloud computing space.

%h2 Terminology 

=define_term "cloud_provider" do
  a
  %em remoter base 
  is also known as Cloud Provider, such as Amazon EC2. Remoter bases are
  responsible for creating and destroying instances. Currently, support exists
  for 
  =link "Amazon EC2", "amazon_ec2_setup.html" 
  Please update 
  =link "Requested features", "http://wiki.github.com/auser/poolparty/requested-features"
  with specific requests.

=define_term "instance" do
  an 
  %em instance
  (or
  %em node
  ) is a logical self-contained machine. Each instance has its own copy of the operating system and its own memory space.

=define_term "dependency resolver" do 
  These are host configuration management tools such as Chef and Puppet. The
  default dependency resolver for PoolParty is 
  =link "Chef.", "docs/chef.html"
