#intro-wrapper
  .intro-left
    %p.headline
      Cloud management. 
      %span Simplified.
    %p.intro
      PoolParty is a 
      %span.emphasis cloud management system. 
      PoolParty makes it easy 
      to manage powerful and 
      %span.emphasis complex deployments 
      on 
      %span.emphasis cloud computing
      services such as Amazon EC2.

  .intro-right
    =img "syntax_sample_1.png"

%h2 Features:

%ul
  %li built-in scaling, self-healing, monitoring, and load-balancing
  %li support for VMware, for testing clouds
  %li 
    dependency resolution is based on 
    %a{:href => "chefpage"} Chef 
  %li clear and extensible configuration 

%h1 Getting Started
%p.step 
%h2 0. Pre-flight check
