%p.headline 
  PoolParty helps you manage your cloud.

%p.intro
  PoolParty makes it easy to manage powerful and complex deployments on cloud computing services such as Amazon EC2.

  Features:

  %ul
    %li built-in scaling, self-healing, monitoring, and load-balancing
    %li support for VMware, for testing clouds
    %li dependency resolution is based on 
      %a{:href => "chefpage"} Chef 
    %li clear and extensible configuration 


