%h4 Plugins!

%p
  Where would we be without plugins? Somewhere else!
  
%p
  The following is a list of known, working/in-progress plugins. If you have written any plugins
  =link "contact me", "mailto:ari.lerner@citrusbyte.com"
  and I'll be sure to list it here

%p
  %ul
    %li= link "Apache2", "http://github.com/auser/poolparty-apache2-plugin"
    %li= link "Postgresql", "http://github.com/deadprogrammer/poolparty-postgres-plugin/tree/master"

%p
  Also, if you have a plugin request, 
  = link "contact me", "mailto:ari.lerner@citrusbyte.com"
  and we'll see if we can get it going with you! Be sure to check out the
  = link "/tutorials/Basic Plugin Tutorial"
  for more plugin help
