- @layout = "empty"

#why-pp
  %h1 Why use PoolParty?

  %ul
    %li 
      %span.bigger 
        decouple your 
        %em cloud management 
        from a particular 
        %em cloud provider
      %p
        The PoolParty architecture is cloud provider agnostic. PoolParty makes it
        possible to "own the valley, rent the peaks". And with PoolParty, it
        doesn't matter who you rent the peaks from.

    %li 
      %span.bigger free and open source
      %p 
        Avoid costly contracts and inflexible cookie-cutter scripts. PoolParty is free to everyone and ready for hacking.  

    %li 
      %span.bigger sexy and powerful DSL
      %p
        The PoolParty DSL is a joy to work with and easy on the eyes.

    %li 
      %span.bigger powerful recipes, baked right in
      %p
        PoolParty comes with the ability to enable industry-standard software
        with only a few lines of code. Software such as Apache, MySQL, HAProxy, RabbitMQ
        is ready and waiting. Plus with the power of
        =link "Chef", "docs/chef"
        you can easily integrate any of the hundreds of already available chef recipes 
        into your cloud.


    %li 
      %span.bigger extensible
      %p
        =link "Plugins"
        make it easy to extend PoolParty in complex ways that integrate seamlessly

    %li 
      %span.bigger core team, active community
      %p
        There are currently three members of the PoolParty 
        -# =link "Core Team", "who.html"
        Core Team
        and the community is very active. Come visit us on IRC in
        %tt #poolparty
        on
        %tt irc.freenode.net

  .small#pageslide-close
    (close)
