- @layout = "empty"
* decouples your cloud management from a particular cloud provider
* free and opensource
* core team
* industry standard defaults, apache, haproxy, etc
* easy to use
* extensible
* chef
* philosophy of integration
