*
  margin: 0 
  padding: 0
body
  background: #fff
  line-height: 1.2em
  margin: 1em
  :background
    color: #FFFFFF
  :font
    :family Verdana
    :size 10pt
  :line-height 1.5em
pre
  width: 640px
  overflow: auto