.clear
  clear: both
.right
  float: right
.left
  float: left
hr, .hide
  display: none
.spacer
  width: 100px
  clear: both
.note
  color: #24A
  display: block

a.link
  color: #d27005
a.visited
  :color #d27005
a.hover
  :color #d28a34
a.active
  :color #d27005
pre
  padding: 5px
  margin: 5px
  overflow: auto
img
  border: 0
/ Sizes
.mid
  width: 600px
.small
  width: 200px