#sidebar
  position: relative
  left: 0
  width: 100%
  font:
    family: Arial
  margin:
    top: 70px
  h4
    margin: 0
    padding: 0
    background: url(/images/site/clouds.png) no-repeat
    height: 44px
    padding:
      left: 100px
      top: 8px
    font:
      size: 1.9em
    color: #00004F
  ul
    position: absolute
    right: 10px
    top: 10px
    margin: 0
    padding: 0
    list-style-type: none
    li
      display: inline
      height: 20px
      padding: 2px 10px
      margin: 2px 0
      font-size: 1.6em
      text-align: right
      width: 400px
      a
        color: #000043