.small.right
  =link "<< Back to resources", "lib/resources"
%h3 Cron

The cron resource will set cron jobs at the intervals you set

%h3 Usage

~code_to_syntax("has_cron(:name => '...') do\n\t# More options. \n\t# This block is optional\nend")

%h3 Options
%ul
  ~option_entry("name", "The name of the cronjob")
  ~option_entry("user", "The user's who owns the cronjob")  
  ~option_entry("command", "The cronjob command to run")
  ~option_entry("minute", "Set the minute of the cronjob")
  ~option_entry("hour", "Set the hour of the cronjob")
  ~option_entry("month", "Set the month of the cronjob")
  ~option_entry("monthday", "Set the day of the month of the cronjob")
  ~option_entry("weekday", "Set the weekday of the cronjob, in 0-6 format, where 0 is Sunday")

%h3 Example
~code_to_syntax("has_cron(:name => \"report mailer\", :minute => \"5\", :hour => \"0\", :weekday => 1) do\n\tcommand \"/bin/sh /home/user/email_reports.sh\"\nend")