.small.right
  =link "<< Back to resources", "lib/resources"
%h3 Line in File

Ensures that the line given is in the file

%h3 Usage

~code_to_syntax("has_line_in_file('line', '/full/file/path.ext)")

%h3 Examples

~code_to_syntax("has_line_in_file(\"ENABLED=1\", \"/etc/default/haproxy\")")