.small.right
  =link "<< Back to resources", "/lib/resources"
%h3 Mount

The mount specifies a mount that is to be mounted on the instances

%h3 Usage

~code_to_syntax("has_mount(:name => '...') do\n\t# More options. \n\t# This block is optional\nend")

%h3 Options
%dd
  ~option_entry("name", "The location of the mount (default: /data)")
  ~option_entry("device", "The device location for the mount. This mounts at the directory set by the name")
  ~option_entry("options", "The options to be set in the mount file fstab (default: rw,nosuid,noquota)")
  ~option_entry("fstype", "The Type of mount (default: xfs)")

%h3 Examples

~code_to_syntax("has_mount(:name => \"/data\", :device => \"/dev/sda100\")")