.small.right
  =link "<< Back to resources", "lib/resources"
%h3 Service

The service resource specifies a service that must be running on the nodes

%h3 Usage

~code_to_syntax("has_service(:name => '...') do\n\t# More options. \n\t# This block is optional\nend")

%h3 Options
%dd
  ~option_entry("name", "Name of the service to be running")

%h3 Examples

~code_to_syntax("has_service(:name => \"apache2\")")