.small.right
  =link "<< Back to resources", "lib/resources"
%h3 Symlink

The symlink resource sets a symlink 

%h3 Usage

~code_to_syntax("has_symlink(:key => '...') do\n\t# More options. \n\t# This block is optional\nend")

%h3 Options
%dd
  ~option_entry("Name", "The location of the symlink")
  ~option_entry("target", "The source of the symlink, the existing file or directory")

%h3 Examples

~code_to_syntax("has_symlink(:name => \"/var/www/poolpartyrb.com/public\", :source => \"/var/www/poolpartyrb.com/poolparty-website/site\")")