.small.right
  =link "/lib/Resources"
%h3 _____

Description

%h3 Usage

~code_to_syntax("has_(:name => '...') do\n\t# More options. \n\t# This block is optional\nend")

%h3 Options
%dd
  ~option_entry("", "")

%h3 Examples

~code_to_syntax("has_(:name => '...') do\n\t# More options. \n\t# This block is optional\nend")