#ribbon
  &nbsp; 
  %a{:href => "why.html", :rel => "pageslide", :id=> "pageslide_anchor"}
    %img{:src => 'images/why_pp_ribbon.gif', :border=>"0", :width=>"150", :height=>"150", :id => "ribbon-img"}
  &nbsp; 
