%h3#pplogo=link img("site/pplogo2.png"), "index.html"
%ul.left
  -# %li.home
    -# = link "Home", "index.html"
  %li.docs
    = link "Docs", "docs/index.html"
  %li.examples
    = link "Examples"
%ul.left
  %li.community
    = link "Community"
  %li.tutorials
    = link "Tutorials", "tutorials/index.html"
  -# %li.plugins
    -# = link "Plugins"
