%h2 Getting started on PoolParty

%p
  Congrats! You've decided to try out PoolParty, what next? Follow along as we go from zero to done! Time it, let's see how long it takes for you to have a full-blown application up on your cloud!

%h4 Installation
%p
  Installing poolparty is simple:
  ~code_to_syntax("gem install auser-poolparty", "shell-unix-generic", "blackboard")
  Make sure you have executed
  ~code_to_syntax("gem sources --add http://gems.github.com", "shell-unix-generic", "blackboard")
  so that rubygems can find the gem.

%h4 Pool spec
%p
  Everything in your pool is decided by your spec file. This is where all the logic for your cloud will go. This can be generated with the command:
  ~code_to_syntax("pool spec [name]", "shell-unix-generic", "blackboard")
  You will now have a spec file in the location: "name/name.rb"
%p
  Although more advanced examples can be found throughout the site, we'll use a basic one to get us going. First, we can start out by making a pool.
  ~file_to_code("tutorials/first_pool.rb")
  This doesn't really do anything, but it gives us a convenient wrapper around our clouds, You don't need to define a pool, but it's usually a good idea if the clouds of nodes are going to talk to each other. 
  Now let's make a cloud that actually does something.
  ~file_to_code("tutorials/basic_cloud.rb")
  Your cloud is now setup to scale from 2 instances all the way to 500 instances at a maximum. You've defined one cloud (called app) inside the pool (called app).
%p
  Things get a lot more interesting when plugins get involved. Currently, as of the time of this writing there are plugins in the works to setup apache2, passenger, ruby on rails, postgresql, mysql and more. The plugin syntax is clear and enjoyable as well, so if you require something different, please checkout the (upcoming) plugin tutorial. 

%h4 CloudSpeak
%p
  Once you have your pool spec at a comfortable spot, it's time to get your cloud launched. 
  ~code_to_syntax("cloud start -n app", "shell-unix-generic", "blackboard")
%p
  %ul
    %li 
      PoolParty will launch your master instance
    %li 
      Configure the master instance based on the values in your manifest
    %li 
      Install the appropriate software