%h2 Tutorials
%p
  These are a few getting started tutorials to get you going. We are writing more and more every day
%ul
  -# %li= link "./tutorials/Getting Started/"
  %li= link "Basic Plugin Tutorial", "tutorials/basic_plugin_tutorial.html"
  %li= link "Writing Resources", "tutorials/writing_resources.html"