!!!
%html
  %head
    %title PoolParty!
    = stylesheets
  %body
    #wrapper
      #masthead
        =partial('header')
      .spacer 
        &nbsp;
      #sidebar
        = partial('sidebar')
      #content
        = yield
      #footer
        Copyright 2008 - Ari Lerner
        %br
        %a{:href => "http://citrusbyte.com"} CitrusByte
        %script{:type => "text/javascript"}
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        %script{:type=>"text/javascript"}
          var pageTracker = _gat._getTracker("UA-137009-7");
          pageTracker._trackPageview();