%h3 Spec shortcuts
%p
  There is some pretty sugar that PoolParty gives you for free. 
%h3 EC2 specific
%ul
  %li 
    mount_ebs_volume_at "vol-4e48ad27", "/vol"
    %p
      You can make sure that your master has the volume vol-4e48ad27 mounted at the location /vol. This way, any and all of your data set in the directory /vol is saved in the Elastic Block Store volume.
  %li
    set_master_ip_to "75.101.162.232"
    %p
      This will tell your master instance to requisition the ip address 75.101.162.232 when it starts up.