%h2 PoolParty resources

%p
  This is a list of resources 
  %b currently 
  available at your disposal when writing your spec-file and plugins. All of these resources can be called with the functions:
  %ul
    %li has_
    For example has_file(...)
    %li does_not_have_
    For example: does_not_have_file(...)

%h3 Resources
%p
  %ul
    %li=link "file", "lib/resources/file"
    %li=link "package", "lib/resources/package"
    %li=link "gempackage", "lib/resources/gempackage"
    %li=link "exec", "lib/resources/exec"
    %li=link "variable (for templates)", "lib/resources/variable"
    %li=link "line_in_file", "lib/resources/line_in_file"
    %li remotefile
    %li=link "cron", "lib/resources/cron"
    %li host
    %li service
    %li sshkey
    %li symlink
    %li directory
    %li classpackage
    %li mount

%h3 Helper methods
%p
  %ul
    %li execute_if