%h2 PoolParty resources

%p
  This is a list of resources 
  %b currently 
  available at your disposal when writing your spec-file and plugins. All of these resources can be called with the functions:
  %ul
    %li has_
    For example has_file(...)
    %li does_not_have_
    For example: does_not_have_file(...)

%h3 Resources
%p
  %ul
    %li=link "/lib/resources/File"
    %li=link "/lib/resources/Package"
    %li=link "/lib/resources/Gempackage"
    %li=link "/lib/resources/Exec"
    %li=link "/lib/resources/Variable"
    %li=link "/lib/resources/Line in file"
    %li=link "/lib/resources/Cron"
    %li=link "/lib/resources/Host"
    %li=link "/lib/resources/Service"
    %li=link "/lib/resources/Sshkey"
    %li=link "/lib/resources/Symlink"
    %li=link "/lib/resources/Directory"
    %li=link "/lib/resources/Mount"